<div [@routerTransition]>
    <app-page-header [heading]="'User'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Users</div>
                <table class="card-body table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Date Sub</th>
                        <th>Vacancy</th>
                        <th>Grade</th>
                        <th>CV</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="text-align: center">
                        <th scope="row">1</th>
                        <td>Ularbek Zairbekov</td>
                        <td>ularbek.zairbekov@iaau.edu.kg</td>
                        <td>+996500010302</td>
                        <td>12.07.2018</td>
                        <td>Front end</td>
                        <td>10</td>
                        <td><a href="job.kg">job.kg/resume/219</a></td>
                        <td>
                            <button class="btn btn-outline-warning">
                                <i class="fa fa-envelope-o" aria-hidden="true"> Send</i>
                            </button>&nbsp;
                        </td>
                    </tr><tr style="text-align: center">
                        <th scope="row">1</th>
                        <td>Ularbek Zairbekov</td>
                        <td>ularbek.zairbekov@iaau.edu.kg</td>
                        <td>+996500010302</td>
                        <td>12.07.2018</td>
                        <td>Front end</td>
                        <td>10</td>
                        <td><a href="job.kg">job.kg/resume/219</a></td>
                        <td>
                            <button class="btn btn-outline-warning">
                                <i class="fa fa-envelope-o" aria-hidden="true"> Send</i>
                            </button>&nbsp;
                        </td>
                    </tr><tr style="text-align: center">
                        <th scope="row">1</th>
                        <td>Ularbek Zairbekov</td>
                        <td>ularbek.zairbekov@iaau.edu.kg</td>
                        <td>+996500010302</td>
                        <td>12.07.2018</td>
                        <td>Front end</td>
                        <td>10</td>
                        <td><a href="job.kg">job.kg/resume/219</a></td>
                        <td>
                            <button class="btn btn-outline-warning">
                                <i class="fa fa-envelope-o" aria-hidden="true"> Send</i>
                            </button>&nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
